<!--
title: Trio Documentation
template: index.html
appendToTarget: true
callback: showCurrentPageInHeader
activeHeaderItem: 1
-->

<div class="media-object">
    <aside class="media-object__item-1">
        <div class="masthead-copy-container">
            <h1>Trio</h1>
            <p>Build your static website projects using the 3 core technologies of the Web.</p>
            <p>Trio is an open source toolkit for building static websites using HTML, CSS and JavaScript and requires almost "zero configuration". You use YAML front matter, JavaScript and Sass to quickly prototype and implement your designs, which makes Trio the perfect tool for those who love to design in the browser.</p>
        </div>

        <div class="buttons-tray">
            <a class="button-primary" data-trio-link href="/docs/getstarted">Get&nbsp;Started</a>
            <a class="button-secondary" data-trio-link href="/docs/learn">Learning Guides</a>
        </div>

    </aside>
    <div class="media-object__item-2">
        <div class="masthead-image-container">
            <img data-trio-link class="masthead-image" src="/media/coding.png" alt="">
        </div>
    </div>
</div>