<!--
title: Trio - For those who love HTML, CSS and JavaScript.
template: index.html
appendToTarget: true
activeHeaderItem: 1
-->
<article class="benefit-hero">
    <section class="container">
        <h1 class="benefit-hero__title">Trio</h1>
        <h2 class="benefit-hero__subtitle">the static site generator built for those who love HTML, CSS and JavaScript</h2>
        <div class="buttons-tray">
            <a class="button-primary" data-trio-link href="/docs/v1/gettingstarted">Get&nbsp;Started</a>
            <a class="button-secondary" data-trio-link href="/docs/v1/keyconcepts">Key Concepts</a>
        </div>
        <div class="donate-button-tray" data-trio-include="paypaldonatebutton.html"></div>
    </section>
</article>

<article class="benefit-1">
    <section class="container">
        <h2>Build your static site using just the fundamental building blocks of the web!</h2>
        <p>You use <em>HTML</em>, <em>CSS</em> and <em>JavaScript</em> to prototype and implement your design, which makes Trio the perfect tool for those who love to design in the browser.<br><br>Trio's use of common metaphors for its project assets, its approach to page composition, its organized collections of metadata and its tag-based callback mechanism serve to create an easy to learn and use, highly adaptable and powerful platform upon which to create your static sites.</p>
    </section>
</article>

<article class="benefit-4">
    <h2 class="benefit-4__title">Features</h2>
    <section class="container benefit-card-deck">
        <article class="benefit-card-deck__card">
            <img class="benefit-deck__card-icon" data-trio-link src="/media/homepage_magnifyingglass.png"
                alt="magnifying glass image">
            <h3 class="benefit-card-deck__card-title">Integrity<br>Checking!</h3>
            <p class="benefit-card-deck__card-copy">Checks your project's chains of dependencies and notifies you when assets can't be resolved.</p>
        </article>
        <article class="benefit-card-deck__card">
            <img class="benefit-deck__card-icon" data-trio-link src="/media/homepage_timer.png" alt="timer image">
            <h3 class="benefit-card-deck__card-title">Incremental<br>Builds!</h3>
            <p class="benefit-card-deck__card-copy">Reduces project build times by limiting processing to only stale assets.</p>
        </article>
        <article class="benefit-card-deck__card">
            <img class="benefit-deck__card-icon" data-trio-link src="/media/homepage_tools.png" alt="tool image">
            <h3 class="benefit-card-deck__card-title">Built-in<br>Toolchain!</h3>
            <p class="benefit-card-deck__card-copy">Beautifies Your Markup<br>Sass Compilation<br> Vendor Prefixes<br> Minification<br> CSS Maps<br>Project Cache Busting</p>
        </article>
    </section>
</article>

<article class="benefit-2">
    <section class="container benefit-2__copy-container">
        <h2 class="benefit-2__copy-title">Extend Your Composites Using Tag-Based JavaScript (ES6+) Callbacks!</h2>
        <p class="benefit-2__copy">Trio doesn't require a templating engine or a front-end framework for extending your composites. Instead, Trio exposes its <em>tag-based callback mechanism</em>.<br><br>Include the <em>data-trio-callback attribute</em> in any HTML tag and Trio will call the JavaScript module that it names, passing it the tag, and the metadata that Trio has collected.</p>
    </section>
    <section class="container">
        <aside class="benefit-2__sample">
            <h3 class="benefit-2__sample-title">Fragment asset source/fragments/products.html:</h3>
            <pre class="html benefit-2__sample-example"><code class="html benefit-2__sample-example-code">&lt;!--
template: products.html
title: Products By Category
appendToTarget: true
data: productsByCategory.json
--&gt;
&lt;h1 class="product-list-title"&gt;Product List By Category&lt;/h1&gt;
&lt;ul <em class="code-sample-emphasis">data-trio-callback="listAllProductsByCategory"</em> class="product-list"&gt;
    &lt;li class="product-in-stock product-in-stock-heading"&gt;
        &lt;span&gt;Category&lt;/span&gt;
        &lt;span&gt;Name&lt;/span&gt;
        &lt;span&gt;Price &lt;span class="product-in-stock-heading--smaller"&gt;(US$)&lt;/span&gt;&lt;/span&gt;
    &lt;/li&gt;
&lt;/ul&gt;
        </code></pre>
            <h3 class="benefit-2__sample-title">Template asset source/templates/products.html:</h3>
            <pre class="benefit-2__sample-example"><code class="html benefit-2__sample-example-code">&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="ie=edge"&gt;
    &lt;title&gt;Document&lt;/title&gt;
    &lt;link rel="stylesheet" href="/css/main.css"&gt;
&lt;/head&gt;
&lt;body&gt;
    &lt;main&gt;
        &lt;article data-trio-fragment&gt;&lt;/article&gt;
    &lt;/main&gt;
&lt;/body&gt;
&lt;/html&gt;
        </code></pre>
            <h3 class="benefit-2__sample-title">JSON asset source/data/productsByCategory.json:</h3>
            <pre class="benefit-2__sample-example"><code class="json benefit-2__sample-example-code">[
    {
        "category": "fruit",
        "name": "Red Delicious Apple",
        "price": 3.89,
        "inStock": true
    },
    {
        "category": "fruit",
        "name": "Chiquita Banana",
        "price": 0.79,
        "inStock": false
    },
    {
        "category": "fruit",
        "name": "Cherries",
        "price": 4.09,
        "inStock": true
    },
    {
        "category": "vegetable",
        "name": "Idaho Potato",
        "price": 2.49,
        "inStock": false
    },
    ...</code></pre>
            <h3 class="benefit-2__sample-title">Tag-Based JavaScript asset source/callbacks/listAllProductsByCategory.js:</h3>
            <pre class="benefit-2__sample-example"><code class="javascript benefit-2__sample-example-code">module.exports = ({$tag, site}) =>
    site.dataCatalog.productsByCategory
        .filter(prod => prod.inStock)
        .forEach(prod => $tag.append(`
            &lt;li class="product-in-stock"&gt;
                &lt;span&gt;${prod.category}&lt;/span&gt;
                &lt;span&gt;${prod.name}&lt;/span&gt;
                &lt;span&gt;${prod.price.toFixed(2)}&lt;/span&gt;
            &lt;/li&gt;
        `));
        </code></pre>
            <h3 class="benefit-2__sample-title">Trio creates a composite from the above template and fragment assets. It then calls the tag-based callback declared in the fragment asset. The tag-based callback then extends the composite using the data from the productsByCategory.json file to produce the "Product List By Category" report.</h3>
            <img data-trio-link src="/media/homepage_demoProductsByCategory.png" alt="demo products by category image">
        </aside>
    </section>
</article>

<article class="benefit-3">
    <section class="container">
        <h2>Create Modern-Day Blogs With The Features Your Readers Have Come To Expect!</h2>
        <p>Trio was built from the ground up to be used as a blogging platform.<br><br>So features, such as article categories and tags, category, tag, and archive pages, article page navigation, are a snap to implement using Trio's structured blog-specific metadata and its tag-based callback mechanism.</p>
    </section>
</article>