<!--
template: homepage
title: Trio - JavaScript-driven static site generation.
appendToTarget: true
activeHeaderItem: 1
-->
<div data-trio-include="home-page-hero-primary.html"></div>
<section class="fixed-width-container features">
    <article class="feature" data-trio-include="home-page-feature-fast.html"></article>
    <article class="feature feature--flip" data-trio-include="home-page-feature-simple-but-powerful.html"></article>
    <article class="feature" data-trio-include="home-page-feature-javascript-driven.html"></article>
</section>
<div data-trio-include="home-page-hero-secondary.html"></div>
<section class="fixed-width-container featurettes">
    <article class="featurette" data-trio-include="home-page-featurette-integrity-checking.html"></article>
    <article class="featurette" data-trio-include="home-page-featurette-incremental-builds.html"></article>
    <article class="featurette" data-trio-include="home-page-featurette-toolchain.html"></article>
    <article class="featurette" data-trio-include="home-page-featurette-blogging.html"></article>
    <article class="featurette" data-trio-include="home-page-featurette-configuration.html"></article>
    <article class="featurette" data-trio-include="home-page-featurette-command-line.html"></article>
</section>
