<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta data-trio-include="metatags.html">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
    <link data-trio-link rel="stylesheet" href="/css/libs/github/github-markdown.css">
    <link data-trio-link rel="stylesheet" href="/css/libs/highlight/github.css">
    <link data-trio-link rel="stylesheet" href="/css/main.css">
    <script data-trio-link src="/scripts/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
</head>

<body>
    <header data-trio-include="header.html"></header>
    <section class="container">
        <main data-trio-fragment class="learnhowto article"></main>
    </section>
    <footer data-trio-include="footer.html"></footer>
</body>

</html>