<!DOCTYPE html>
<html lang="en">

    <head>
        <script data-trio-include="analytics.html"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta data-trio-include="metatags.html">
        <title>Document</title>
        <link data-trio-link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
        <link data-trio-link rel="stylesheet" href="/css/libs/github/github-markdown.css">
        <link data-trio-link rel="stylesheet" href="/css/libs/highlight/github.css">
        <link data-trio-link rel="stylesheet" href="/css/main.css">
        <script data-trio-link src="/scripts/highlight.pack.js"></script>
    </head>

    <body>
        <div class="blog-masthead">
            <a data-trio-link class="blog-masthead__icon" href="/blog"></a>
            <h1 class="blog-masthead__title">The Trio Blog</h1>
            <p class="blog-masthead__subtitle">Releases, News, Stories, Gosip</p>
        </div>
        <main class="container blog-container">
            <section data-trio-fragment></section>
        </main>
        <footer data-trio-include="footer.html"></footer>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>

</html>
