<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Cache-control" content="no-cache">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
    <link data-trio-link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header data-trio-include="header.html"></header>
    <main data-trio-fragment class="container">
    </main>
    <footer data-trio-include="footer.html"></footer>
</body>

</html>