<!DOCTYPE html>
<html lang="en">

    <head>
        <script data-trio-include="analytics.html"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta data-trio-include="metatags.html">
        <title>Document</title>
        <link data-trio-link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
        <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
        <link data-trio-link rel="stylesheet" href="/css/libs/highlight/github.css">
        <link data-trio-link rel="stylesheet" href="/css/main.css">
        <script data-trio-link src="/scripts/highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </head>

    <body>
        <header data-trio-include="header.html" class="header header--fixed header--green"></header>
        <main class="container doc-page">
            <aside data-trio-include="docpageindex.html"></aside>
            <article class="doc-page-content">
                <section class="notification">Documentation is evolving and is a WIP</section>
                <section data-trio-fragment class="doc-page-content__copy"></section>
                <footer data-trio-include="footer.html" class="docfooter footer--hide-the-love"></footer>
            </article>
        </main>
    </body>

</html>