<!DOCTYPE html>
<html lang="en">
<head>
    <script data-trio-include="analytics.html"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta data-trio-include="metatags.html">
    <title></title>
    <link data-trio-link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body class="home-page">
    <header data-trio-include="header.html" class="header header--fixed header--green"></header>
    <main data-trio-fragment></main>
    <footer data-trio-include="new-home-page-footer.html"></footer>
</body>
</html>

