<!DOCTYPE html>
<html lang="en">
<head>
    <script data-trio-include="analytics.html"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta data-trio-include="metatags.html">
    <meta data-trio-callback="socialmediametatags">
    <title>Document</title>
    <link data-trio-link rel="shortcut icon" type="image/x-icon" href="/favicon.png">
    <link href="https://fonts.googleapis.com/css?family=Lora|Open+Sans" rel="stylesheet">
    <link data-trio-link rel="stylesheet" href="/css/libs/github/github-markdown.css">
    <link data-trio-link rel="stylesheet" href="/css/libs/highlight/github.css">
    <link data-trio-link rel="stylesheet" href="/css/main.css">
    <script data-trio-link src="/scripts/highlight.pack.js"></script>
</head>
<body>
    <!-- facebook JavaScript SDK -->
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v9.0" nonce="6AlX9x9d"></script>
    <header data-trio-include="header.html" class="header header--fixed header--green"></header>
    <div data-trio-include="blogmasthead.html"></div>
    <main class="container blog-container">
        <article data-trio-callback="articlepage" class="blog-post">
            <h1 class="blog-post__article-title"></h1>
            <div class="blog-post__meta-container"></div>
            <section data-trio-fragment></section>
        </article>
        <section data-trio-include="donation-request.html"></section>
        <div class="fbcomments">
            <div data-trio-callback="fbcomments" class="fb-comments" data-href="" data-width="100%" data-numposts="5"></div>
        </div>
        <div data-trio-include="navigator.html" data-trio-callback="articlePagesNavigator" class="navigator"></div>
    </main>
    <footer data-trio-include="footer.html" class="container blog-container blogfooter"></footer>
    <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>
