.card-deck {
    display: block;
    width: 100%;
    padding: 10px;
    border: solid 1px rgba(green, 0.1);
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(green, 0.175);
}

%card {
    list-style: none;
    font-size: 1.1rem;
    background-color: rgba(lightgreen, 0.08);
    margin: 20px 10px;
    padding: 10px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba($secondary-text-color, 0.375);
}

.get-started-card {
    @extend %card;
    span {
        display: inline-block;
        color: $darker-text-color;
        font-size: 1rem;
    }
    h2 {
        font-size: 1.8rem;
        color: $secondary-text-color;
        text-align: left;
    }
    code {
        background-color: #fff;
    }
    a {
        text-decoration: underline;
        color: green;
        font-weight: bold;
    }
    .getwebcreative {
        display: block;
        width: 25%;
        height: auto;
        margin: auto;
    }
}

.get-started-card--creative {
    p {
        margin: 20px 0;
    }
}

@include media-query-up(md) {
    .card-deck {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
    }
    .get-started-card {
        flex: 1 1 40%;
        margin: 10px;
    }
    .get-started-card--creative {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        .getwebcreative {
            display: flex;
            max-width: 35%;
        }
        a {
            font-size: 1.2rem;
        }
    }
}