.card-deck {
    display: block;
    width: 100%;
    padding: 20px;
    border: solid 1px rgba(green, 0.1);
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba(green, 0.175);
}

%card {
    width: 100%;
    list-style: none;
    font-size: 1.1rem;
    background-color: rgba(lightgreen, 0.08);
    // margin: 0 0 20px 0;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 1px 1px 5px rgba($secondary-text-color, 0.375);
}

.get-started-card {
    @extend %card;
    span {
        display: inline-block;
        color: $darker-text-color;
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    h2 {
        font-size: 1.8rem;
        color: $secondary-text-color;
        text-align: left;
    }
    code {
        background-color: #fff;
    }
    a {
        text-decoration: underline;
        color: green;
        font-weight: bold;
    }
    .getwebcreative {
        display: block;
        width: 43%;
        height: auto;
        margin: auto;
    }
}

.get-started-card--creative {
    p {
        margin: 20px 0;
    }
}

@include media-query-up(md) {
    .card-deck {
        display: flex;
        flex-flow: row wrap;
        align-content: space-between;
    }
    .get-started-card {
        // max-width: 40%; // <- uncomment this if you don't want the flowed item to streatch along its cross axis
        flex: 1 0 33.3333%;
    }
    %card:last-child {
        margin-right: 0;
    }
    .get-started-card--creative {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        .getwebcreative {
            display: flex;
            max-width: 35%;
        }
        a {
            font-size: 1.2rem;
        }
    }
    // .get-started-card--creative:last-child {
    //     flex: 0 1 33.3333%;
    // }
}