.container {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.media-object {
    width: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
}

@include media-query-up(md) {
    .media-object {
        flex-flow: row nowrap;
    }
    .media-object__item-1 {
        width: 50%;
        margin: auto;
    }
    .media-object__item-2 {
        width: 50%;
        margin: auto;
    }
}