.container {
    max-width: $container-width;
    margin: 0 auto;
    position: relative;
}

.fixed-width-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

// @include media-query-up gc

.media-object {
    width: 100%;
    display: flex;
    flex-flow: column-reverse nowrap;
}

@include media-query-up(md) {
    .media-object {
        flex-flow: row nowrap;
    }
    .media-object__item-1 {
        width: 50%;
        margin: auto;
    }
    .media-object__item-2 {
        width: 50%;
        margin: auto;
    }
}