%footer-shared {
    width: 100%;
    margin-top: 3rem;
    padding: 3rem 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    font-size: 0.8rem;
    color: #5a5a5a;
    line-height: 1.3rem;
}

.footer {
    @extend %footer-shared;
    p {
        a {
            color: #5a5a5a;
            text-decoration: underline;
        }
        .heart {
            color: red;
        }
    }
    &--hide-the-love {
        .show-the-love {
            display: none;
        }
    }
}

// >= 576px
@include media-query-up(sm) {
    .footer {
        width: 540px;
    }
}

// >= 768px
@include media-query-up(md) {
    .footer {
        width: 720px;
        &-container {
            margin-top: 0;
        }
    }
}

// >= 992px
@include media-query-up(lg) {
    .footer {
        width: 960px;
    }
}

// >= 1200
@include media-query-up(xl) {
    .footer {
        width: 1140px;
    }
}

.docpagefooter {
    @extend %footer-shared;
    padding-left: 0;
    padding-right: 0;
}
