.footer {
    display: block;
    width: 100%;
    min-height: 300px;
    padding: 40px 0;
    background-color: rgba(#640064, 0.07);
    font-size: 1.2rem;
    line-height: 1;
    text-align: center;

    &__copy {
        margin-bottom: 1.3rem;
        color: rgba(#640064, .7);

        a {
            color: #640064;
            font-style: normal;
            text-decoration: underline;

            strong {
                font-style: normal;
                color: #640064;
            }

        }

    }

    .footer__heart {
        color: red;
        font-weight: bold;
        font-size: 1rem;
    }

}