.footer {
    display: block;
    width: 100%;
    min-height: 300px;
    padding: 40px 0;
    background-color: rgba(#888, 0.07);
    font-size: .8rem;
    line-height: 1;
    text-align: center;

    &__copy {
        margin-bottom: 1.3rem;
        color: rgba(#000, .7);

        a {
            color: #000;
            font-style: normal;
            text-decoration: underline;

            strong {
                font-style: normal;
                color: #000;
            }

        }

    }

    .footer__heart {
        color: red;
        font-weight: bold;
    }

}