$darkgreen: darkgreen;
$purple: #3e1747;
$white: #fff;
$menuhoveropacity: .75;

$bordercolor-darkgreen: $darkgreen;
$bordercolor-purple: $purple;
$boxshadowcolor: black;
$opacity-animation-duration: .3s;
$bgcolor-white: $white;
$hoverbgcolor-darkgreen: $darkgreen;
$hoverbgcolor-purple: $purple;
$color-darkgreen: rgba($darkgreen, 1);
$color-purple: rgba($purple, 1);

.header {
    width: 100%;
    background-color: $bgcolor-white;
    padding: 1rem 0;

    &__hamburger-container {
        animation: animate-opacity $opacity-animation-duration;
        position: absolute;
        top: -9px;
        left: 10px;
    }

    &__hamburger-checkbox:checked~&__nav {
        display: block;
    }

    &--fixed {
        position: sticky;
        top: 0;
        left: 0;
        z-index: 100;
        border-bottom: 1px solid rgba($bordercolor-darkgreen, .12);
        box-shadow: 0 1px 3px 2px rgba($boxshadowcolor, .15);
    }

    &__container {
        width: 100%;
        display: flex;
        flex-flow: column nowrap;
    }

    &__promo,
    &__nav {
        width: 100%;
        text-align: center;
    }

    &__promo {
        &-image {
            display: none;
        }

        &-text {
            text-transform: uppercase;
            color: $color-darkgreen;
            font-size: 1rem;
            font-weight: 700;
            letter-spacing: 1px;

            &-version {
                text-transform: lowercase;
            }
        }
    }

    &__nav {
        display: none;
        margin-top: .5rem;

        &-items {
            list-style: none;
        }

        &-item {
            text-transform: uppercase;
            color: $color-darkgreen;
            margin-bottom: .5rem;
            font-weight: 800;

            &--active {
                background-color: rgba($darkgreen, .1);
            }

            &:last-child {
                margin-bottom: 0;
            }

            &:hover {
                background-color: rgba($hoverbgcolor-darkgreen, $menuhoveropacity);
                color: $bgcolor-white;
                border-radius: 3px;
            }

            &-link {
                display: block;
                width: 100%;
                font-size: 1rem;
                color: inherit;
                letter-spacing: 1px;

                &:focus {
                    background-color: rgba($hoverbgcolor-darkgreen, $menuhoveropacity);
                    color: $bgcolor-white;
                    border-radius: 3px;
                }
            }
        }
    }

}

.header--purple {
    .hamburger__patty {
        background-color: $color-purple;
        outline: 1px solid $color-purple;
    }

    .header__promo {
        &-text {
            color: $color-purple;
        }
    }

    .header__nav {
        &-item {
            color: $color-purple;

            &--active {
                background-color: rgba($purple, .1);
            }

            &:hover {
                background-color: rgba($hoverbgcolor-purple, $menuhoveropacity);
                color: $bgcolor-white;
            }

            &-link {
                &:focus {
                    background-color: rgba($hoverbgcolor-purple, $menuhoveropacity);
                    color: $bgcolor-white;
                    border-radius: 3px;
                }
            }
        }
    }

}

@include media-query-up(sm) {
    .header {
        padding: 0;

        .hamburger-helper {
            display: none;
        }

        &__container {
            flex-flow: row nowrap;
        }

        &__promo {
            display: flex;
            flex-flow: row nowrap;
            align-items: center;

            &-image {
                display: block;
                width: 36px;
                height: 36px;
                margin: .325rem;
            }
        }

        &__nav {
            display: flex !important;
            flex-flow: row nowrap;
            align-items: center;
            justify-content: flex-end;
            margin-top: 0;

            &-items {
                display: block;
            }

            &-item {
                margin-bottom: 0;
                display: inline-block;
                padding: 0 .25rem;
            }
        }
    }
}