.learnhowto {
    h1, h2, h3, h4, h5, h6 {
        color: $secondary-text-color;
    }

    h2, h3, h4, h5, h6 {
        margin: 30px 0;
    }

    h1 {
        font-size: $huge-font-size;
    }

    p {
        font-size: $larger-font-size;
    }

    img {
        display: block;
        max-width: max-content;
        width: 100%;
        height: auto;
        margin: 20px 0 20px;
    }
    
    table.dev-vs-release-build {
        display: initial;
        th, td {
            padding: .5rem;
            text-align: center;
        }
        tbody tr td .check, tbody tr td .cross {
            font-size: 1rem;
            font-weight: bold;
        }
        tbody tr td .check {
            color: $secondary-text-color;
        }
        tbody tr td .cross {
            color: darkred;
        }
        th, tbody tr td:first-child {
            font-size: 110%;
            font-weight: bold;
            text-align: left;
        }
        tbody tr td:first-child {
            color: black;
        }
        th {
            color: white;
        }
        tbody tr:nth-child(even) {
            background-color: lightgreen;
        }
        tbody tr:nth-child(odd) {
            background-color: $background-color;
        }
        thead {
            background-color: $lighter-text-color;
            color: white;
        }
        th:first-child {
            border-top-left-radius: 3px;
        }
        th:last-child {
            border-top-right-radius: 3px;
        }
        tr:last-child {
            td:first-child {
                border-bottom-left-radius: 3px;
            }
            td:last-child {
                border-bottom-right-radius: 3px;
            }
        }
    }
}