* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    overflow-wrap: break-word;
    word-break: break-word;
}

html,
body {
    font-family: $sans-serif-font;
    font-size: 100%;
    line-height: 150%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 $normal-font-size 0;
    white-space: normal;
    line-height: 110%;
    color: $darkest-text-color;
}

h1 {
    font-size: 2rem;
}

button {
    all: unset;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bolder;
    font-style: italic;
    color: rgba(#000, 0.9);
}