* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

html,
body {
    font-family: $sans-serif-font;
    font-size: 100%;
    line-height: 150%;
}

html {
    $min_width: 320px;
    $max_width: 1200px;
    $min_font: 12px;
    $max_font: 16px;
    // @include fluid-type($min_width, $max_width, $min_font, $max_font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 $normal-font-size 0;
    overflow-wrap: break-word;
    white-space: normal;
}

h1 {
    font-size: 2rem;
}

button {
    all: unset;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

strong {
    font-weight: bolder;
    font-style: italic;
    color: rgba(#000, 0.9);
}