.under-construction {
    margin: 1.5rem auto;
    background-color: yellow;
    border: 10px solid black;
    border-radius: 30px;
    box-shadow: 0 0 5px 5px yellow;
    width: 100%;
    padding: 100px 0;
    text-align: center;
    font-family: monospace;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
    color: black;

    p {
        margin-bottom: 4rem;
    }

    p:last-child {
        margin-bottom: 0;
    }

    &--constrained {
        max-width: 75%;
    }
}

@include media-query-up(sm) {
    .under-construction {
        font-size: 3rem;
    }
}