$container-width: 90vw;
$smaller-font-size: .8rem;
$normal-font-size: 1rem;
$larger-font-size: 1.25rem;
$even-larger-font-size: 1.333rem;
$medium-font-size: 2.25rem;
$huge-font-size: 4rem;
$sans-serif-font: "Open Sans", sans-serif;
$serif-font: "Lora", serif;
$default-text-color: rgba(#000, 0.5);
$lighter-text-color: rgba(#000, 0.38);
$lightest-text-color: rgba(white, 0.9);
$darker-text-color: rgba(#000, 0.72);
$darkest-text-color: #000;
$secondary-text-color: #006400;
$hover-bg-color: rgba(#000, .1);
$active-header-item-color: #000;
$background-color: #6cb333;;
$darkest-background-color: #197e19;
$hover-background-color: rgba(green, 0.375);
$border-radius: .25rem;
$border-color: rgba(0, 0, 0, .25);
$docpageheadercolor: darkgreen;
$highlightcolor: peru;
$normalcolor: rgba(black, 0.8);
$linkcolor: $docpageheadercolor;
$copy-color: rgba(black, 0.8);

